<!--  head.ejs  -->
<%- include('../includes/head.ejs') %>
</head>

<body>

  <div class="container mb-3">
    <!-- Nav -->
    <!-- navigation.ejs -->
    <%- include('../includes/navigation.ejs') %>
    
    
    <!-- Main -->
    <main>
      <div class="row">
        <div class="col-8 m-auto">
          <% if (errorMessage) { %>
            <h5> <%= errorMessage %> </h5>
          <% } %>
          <form action="/reset" method="POST">
            <div class="form-group">
              <label for="email">Email: </label>
              <input type="text" name="email" class="form-control" id="email">
            </div>
            <div class="row">
              <div class="col text-center">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-lg">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    

    <!-- Footer -->
    <%- include('../includes/footer.ejs') %>

  </div>
  <!--End of Container-->
  
  <!-- end.ejs -->
  <%- include('../includes/end.ejs') %>